@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 0.938rem;
    background-color: hsl(0, 0%, 95%);
  }
  h1,
  h2,
  h3 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", cursive;
  }
  button {
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
  }
  p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
  }
}
